.nav-menu[b-16uq8voqdr] {
    background-color: #4caf50;
    color: white;
    height: 100%;
    width: 250px;
    position: fixed;
    top: 0;
    left: 0;
    padding-top: 20px;
}

.nav-header[b-16uq8voqdr] {
    text-align: center;
    padding-bottom: 20px;
}

    .nav-header h4[b-16uq8voqdr] {
        color: #fff;
        font-size: 34px;
        margin: 0;
        font-weight: bold;
    }

li[b-16uq8voqdr] {
    list-style: none;
}

button[b-16uq8voqdr] {
    width: 80%;
    height: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: transparent;
    border: none;
    color: white;
    text-align: left;
    font-size: 20px;
    font-weight: bold;
}

    button:hover[b-16uq8voqdr] {
        background-color: green;
        border-radius: 5px;
    }

    button:focus[b-16uq8voqdr] {
        background-color: green;
        border-radius: 5px;
    }

i[b-16uq8voqdr] {
    margin-right: 10px;
    color: white;
}
