.sidebar[b-16uq8voqdr] {
    height: 100vh;
    width: 250px;
    background-color: #4CAF50;
    color: #ffff;
    display: flex;
    flex-direction: column;
    padding-top: 10px;
}

.navbar[b-16uq8voqdr] {
    background-color: #4CAF50;
}

navbar-brand[b-16uq8voqdr] {
    font-size: 50px;
    font-weight: bold;
}

.navbar-toggler[b-16uq8voqdr] {
    display: none;
}

.nav-scrollable[b-16uq8voqdr] {
    flex-grow: 1;
    overflow-y: auto;
}

.nav-item[b-16uq8voqdr] {
    padding: 10px 15px;
}

    .nav-item .nav-link[b-16uq8voqdr] {
        color: #ccc;
        text-decoration: none;
        font-size: 16px;
    }

        .nav-item .nav-link:hover[b-16uq8voqdr] {
            color: #fff;
        }

    .nav-item .bi[b-16uq8voqdr] {
        margin-right: 10px;
    }

    /* Optional: You can adjust the hover effect as needed */
    .nav-item .nav-link.active[b-16uq8voqdr] {
        background-color: green;
        color: white;
    }
