.nav-menu[b-16uq8voqdr] {
    background-color: #4CAF50;
    color: white;
    height: 100%;
    width: 250px;
    position: fixed;
    top: 0;
    left: 0;
    padding-top: 20px;
}

.nav-header[b-16uq8voqdr] {
    text-align: center;
    padding-bottom: 20px;
}

    .nav-header h4[b-16uq8voqdr] {
        color: #fff;
        font-size: 34px;
        margin: 0;
        font-weight: bold; 
    }

.nav-links[b-16uq8voqdr] {
    list-style: none;
    padding: 0;
    color: white;
    font-weight: bold;
}

    .nav-links li[b-16uq8voqdr] {
        margin: 15px 0;
    }

.nav-link[b-16uq8voqdr] {
    display: flex;
    align-items: center;
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    font-size: 18px;
}

    .nav-link:hover[b-16uq8voqdr] {
        background-color: #34495e;
        border-radius: 4px;
    }

    .nav-link i[b-16uq8voqdr] {
        margin-right: 10px;
    }

    .nav-link.active[b-16uq8voqdr] {
        background-color: darkgreen;
        border-radius: 4px;
        color: white;
    }

