body[b-2ahqa2ul6a] {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-left: 250px
}

h3[b-2ahqa2ul6a] {
    font-weight: bolder;
    margin-bottom: 25px;
}

.form-group[b-2ahqa2ul6a] {
    margin: 10px 20px 10px 10px;
    font-weight: bold;
}

.btn-success[b-2ahqa2ul6a] {
    background-color: #4CAF50;
}

.btn-success:hover[b-2ahqa2ul6a] {
    background-color: darkgreen;
}