.container[b-kl73uw7i6z] {
    font-family: 'Arial', sans-serif;
    margin-left: 250px
}

h3[b-kl73uw7i6z] {
    font-weight: bolder;
    margin-bottom: 25px;
}

.form-group[b-kl73uw7i6z] {
    margin: 10px 20px 10px 10px;
    font-weight: bold;
    width: 100%;
}

.btn-success[b-kl73uw7i6z] {
    background-color: #4CAF50;
}

    .btn-success:hover[b-kl73uw7i6z] {
        background-color: darkgreen;
    }
