@page "/dashboard"
@using Pennywise.Components.Layout
@layout LayoutWithNavmenu
@inject NavigationManager Navigator

<div class="main-container">
    <div class="container">
        <div class="row-0">Dashboard</div>
        <div class="row-1">
            <div class="row1-item1">
                <p>Total Inflows</p>
                <p>Rs 0</p>
            </div>
            <div class="row1-item2">
                <p>Total Outflows</p>
                <p>Rs 0</p>
            </div>
        </div>
        <div class="row-2">
            <div class="row2-item1">
                <p>Total Debts</p>
                <p>Rs 0</p>
            </div>
            <div class="row2-item2">
                <p>Cleared Debts</p>
                <p>Rs 0</p>
            </div>
            <div class="row2-item3">
                <p>Remaining Debts</p>
                <p>Rs 0</p>
            </div>
        </div>
        <div class="row-3">
            <div class="row3-item1">
                <p>Highest Transaction</p>
                <p>Rs 0</p>
            </div>
            <div class="row3-item2">
                <p>Lowest Transaction</p>
                <p>Rs 0</p>
            </div>
        </div>
        <div class="row-4">
            <div class="row4-item1">
                <p>Overview</p>
            </div>
            <div class="row4-item2">
                <p>Recent Transactions</p>
            </div>
        </div>
    </div>
</div>

@code {

}
