@page "/dashboard"
@using Pennywise.Components.Layout
@layout LayoutWithNavmenu
@inject NavigationManager Navigator

<body>
    <div class="container">
        <div class="row-0">Dashboard</div>
        <div class="row-1">
            <div class="row1-item1"></div>
            <div class="row1-item2"></div>
        </div>
        <div class="row-2">
            <div class="row2-item1"></div>
            <div class="row2-item2"></div>
            <div class="row2-item3"></div>
        </div>
        <div class="row-3">
            <div class="row3-item1"></div>
            <div class="row3-item2"></div>
        </div>
    </div>
</body>

@code {

}
