@page "/"
@inject NavigationManager Navigator

<div>
    <div class="app-name">Pennywise</div>
    <div class="app-slogan">Because every transaction counts.</div>
    <button @onclick="NavigateToLogin" class="login-button">Go to Login</button>
</div>

@code {
    private void NavigateToLogin()
    {
        Navigator.NavigateTo("/login");
    }
}