@inherits LayoutComponentBase
@using Microsoft.AspNetCore.Components.Routing
@using Microsoft.AspNetCore.Components

<div class="nav-menu">
    <div class="nav-header">
        <h4>Pennywise</h4>
    </div>

    <ul class="nav-links" style="color: white; ">
        <!-- Dashboard Link -->
        <li>
            <NavLink class="nav-link" href="/dashboard" Match="NavLinkMatch.All">
                <i class="bi bi-house-door"></i> Dashboard
            </NavLink>
        </li>

        <!-- transactions Link -->
        <li>
            <NavLink class="nav-link" href="/transactions">
                <i class="bi bi-cash-coin"></i> Transactions
            </NavLink>
        </li>

        <!-- debts Link -->
        <li>
            <NavLink class="nav-link" href="/debts">
                <i class="bi bi-wallet2"></i> Debts
            </NavLink>
        </li>

        <!-- reports Link -->
        <li>
            <NavLink class="nav-link" href="/reports">
                <i class="bi bi-card-checklist"></i> Reports
            </NavLink>
        </li>
        
        <!-- Settings Link -->
        <li>
            <NavLink class="nav-link" href="/settings">
                <i class="bi bi-gear"></i> Settings
            </NavLink>
        </li>

        <!-- Logout Link -->
        <li>
            <NavLink class="nav-link" href="/logout">
                <i class="bi bi-box-arrow-right"></i> Logout
            </NavLink>
        </li>
    </ul>
</div>

@Body
